
@{
    ViewBag.Title = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Create Message</h2>

<form method="post">
    <label>Name Surname</label>
    <input type="text" class="form-control" name="NameSurname" />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" />
    <label>Subject</label>
    <input type="text" class="form-control" name="Subject" />
    <label>Message Content</label>
    <input type="text" class="form-control" name="MessageContent" />
    <button class="btn btn-success">Ekle</button>
</form>