@model AcunMedyaPortfolyo.Models.Skill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdateSkill</h2>

<form method="post">
    @Html.HiddenFor(x => x.SkillID)
    <label>Yetenek Adı</label>
    <br />
    @Html.TextBoxFor(x => x.SkillName)
    <br />
    <label>Yüzde</label>
    <br />
    @Html.TextBoxFor(x => x.Percentage)
    <br />
    <label>Açıklama</label>
    <br />
    @Html.TextBoxFor(x => x.Description)
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>