
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Create Education</h2>

<form method="post">
    <label>Start Year</label>
    <input type="text" class="form-control" name="StartYear" />
    <label>End Year</label>
    <input type="text" class="form-control" name="EndYear" />
    <label>Name</label>
    <input type="text" class="form-control" name="Name" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>Section</label>
    <input type="text" class="form-control" name="Section" />
    <button class="btn btn-success">Add</button>
</form>