@model List<AcunMedyaPortfolyo.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategori</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>CategoryID</th>
                <th>Category Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><a href="/Categories/UpdateCategory/@item.CategoryID" class="btn btn-success">Update</a></td>
                <td><a href="/Categories/DeleteCategory/@item.CategoryID" class="btn btn-danger">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
    <a href="/Categories/CreateCategory/" class="btn btn-success">Create Category</a>
</div>

