@model AcunMedyaPortfolyo.Models.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Category</h2>

<form method="post">
    @Html.HiddenFor(x => x.CategoryID)
    <label>Category Name</label>
    @Html.TextBoxFor(x => x.CategoryName)
    <button class="btn btn-success">Update</button>
</form>