
@{
    ViewBag.Title = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Create Slider</h2>

<form method="post">
    <label>Name Surname</label>
    <input type="text" class="form-control" name="NameSurname" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>Image</label>
    <input type="text" class="form-control" name="ImageURL" />
    <button class="btn btn-success">Add</button>
</form>