<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="/Statistic/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/home.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Dashboard</a>
    </li>
    <li>
        <a href="/Categories/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/categories.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Categories</a>
    </li>
    <li>
        <a href="/About/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/information-button.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> About</a>
    </li>
    <li>
        <a href="/Education/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/graduation.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Education</a>
    </li>
    <li>
        <a href="/Job/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/suitcase (1).png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Job</a>
    </li>
    <li>
        <a href="/Message/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/email.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Messages</a>
    </li>
    <li>
        <a href="/Project/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/project (1).png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Projects</a>
    </li>
    <li>
        <a href="/Service/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/responsible.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Services</a>
    </li>
    <li>
        <a href="/Skill/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/skill (2).png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Skills</a>
    </li>
    <li>
        <a href="/Slider/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/gallery.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Slider</a>
    </li>
    <li>
        <a href="/Testimonial/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/feedback.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Testimonials</a>
    </li>
    <li>
        <a href="/Contact/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/customer-service.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Contact</a>
    </li>
    <li>
        <a href="/Default/" style="display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/right-arrow.png" alt="Icon" width="20" height="20" style="margin-right: 5px;">  Go to Page</a>
    </li>
</ul>
