<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="/Statistic/"><span class="fa fa-home mr-3"></span> Dashboard</a>
    </li>
    <li>
        <a href="/Categories/" style=" display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/categories.png" alt="Icon" width="24" height="24" style="margin-right: 5px;"> Categories</a>
    </li>
    <li>
        <a href="/About/"><span class="fa fa-briefcase mr-3"></span> About</a>
    </li>
    <li>
        <a href="/Education/"><span class="fa fa-sticky-note mr-3"></span> Education</a>
    </li>
    <li>
        <a href="/Job/"><span class="fa fa-sticky-note mr-3"></span> Job</a>
    </li>
    <li>
        <a href="/Message/"><span class="fa fa-sticky-note mr-3"></span> Messages</a>
    </li>
    <li>
        <a href="/Project/"><span class="fa fa-sticky-note mr-3"></span> Projects</a>
    </li>
    <li>
        <a href="/Service/"><span class="fa fa-sticky-note mr-3"></span> Services</a>
    </li>
    <li>
        <a href="/Skill/"><span class="fa fa-sticky-note mr-3"></span> Skills</a>
    </li>
    <li>
        <a href="/Slider/"><span class="fa fa-sticky-note mr-3"></span> Slider</a>
    </li>
    <li>
        <a href="/Testimonial/"><span class="fa fa-sticky-note mr-3"></span> Testimonials</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-sticky-note mr-3"></span> Contact</a>
    </li>
    <li>
        <a href="/Default/" style="display: inline-flex; align-items: center;"><img src="~/Lonely/assets/img/application (1).png" alt="Icon" width="20" height="20" style="margin-right: 5px;">  Go to Page</a>
    </li>
</ul>
