
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Create Project</h2>

<form method="post">
    <label>Project Name</label>
    <input type="text" class="form-control" name="ProjectName" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>Project Link</label>
    <input type="text" class="form-control" name="ProjectLink" />
    <label>Image1</label>
    <input type="text" class="form-control" name="Image1" />
    <label>Image2</label>
    <input type="text" class="form-control" name="Image2" />
    <label>Image3</label>
    <input type="text" class="form-control" name="Image3" />
    <label>CategoryID</label>
    <input type="text" class="form-control" name="CategoryID" />
    <button class="btn btn-success">Add</button>
</form>